@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Dashboard</h1>
    <br /><br /><br /><br /><br /><br />
    <div class="form-group">
        <a asp-action="Simulacao" asp-controller="TbLocacoes" class="btn btn-primary" >Simular Locação</a>
    </div>
</div>
