@model LocalizaCS.Models.TbVeiculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TbVeiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input style="text-transform: uppercase;" asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeloId" class="control-label"></label>
                <select asp-for="ModeloId" class="form-control" asp-items="ViewBag.ModeloId">
                    <option value="">- Selecione o Modelo -</option>
                </select>
                <span asp-validation-for="ModeloId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input onkeypress="return event.charCode >= 48 && event.charCode <= 57" asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorHora" class="control-label"></label>
                <input asp-for="ValorHora" class="form-control" />
                <span asp-validation-for="ValorHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Combustivel" class="control-label"></label>
                <select asp-for="Combustivel" class="form-control">
                    <option value="">- Selecione o Combustível -</option>
                    <option>Flex</option>
                    <option>Gasolina</option>
                    <option>Álcool</option>
                    <option>Diesel</option>
                </select>
                <span asp-validation-for="Combustivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LtPortaMala" class="control-label"></label>
                <input asp-for="LtPortaMala" class="form-control" />
                <span asp-validation-for="LtPortaMala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" class="form-control">
                    <option value="">- Selecione a Categoria -</option>
                    <option>Básico</option>
                    <option>Completo</option>
                    <option>Luxo</option>
                </select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
